<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">
    <title>lista usuarios</title>
</head>
<body>
    <header>
        <a href="inicioAdmin"><img src="img/LOGOS-05.png"/></a>
        <h1>Lista de Usuarios<h1>
    </header>
    
    <div class="contenedorTabla">
        <table>
            <thead>
                <tr>
                    <th>Mail</th>
                    <th>Apellido y Nombres</th>
                    <th>Teléfono</th>
                    <th>Rol</th>
                </tr>
            </thead>
            <tbody>
                <!-- Utilizamos Thymeleaf para iterar sobre la lista de usuarios -->
                <tr th:each="usuario : ${usuarios}">
                    <!-- Utilizamos th:text para mostrar los valores de cada propiedad del usuario -->
                    <td th:text="${usuario.mail}"></td>
                    <td th:text="${usuario.apellidoNombre}"></td>
                    <td th:text="${usuario.telefono}"></td>
                    <td th:text="${usuario.rol}"></td>
                    <td>
                        <form th:action="@{'/eliminarUsuario/' + ${usuario.mail}}" method="post">
                            <div class="botonesTabla">
                                <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este usuario?')">Eliminar</button>
                            </div>
                        </form>
                        <form th:action="@{'/buscarUsuario/' + ${usuario.mail}}" method="post">
                            <div class="botonesTabla">
                                <button type="submit">Modificar</button>
                            </div>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="inicioAdmin">Volver</a>
    </div>
    
</body>
</html>