<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">
    <title>subir material</title>
</head>
<body>
    <header>
        <img src="img/LOGOS-05.png"/>
        <h1>CeD - Upload</h1>
    </header>
    <h2>Subir Material</h2>
    <form action="/subirMaterial" method="post" enctype="multipart/form-data">

        <label>Nombre del Material</label>
        <input type="text" name ="nombreMaterial" class="form-control" required>
    
        <label>Descripción</label>
        <textarea name="descripcion" rows="10" cols="50" placeholder="Contanos de qué se trata tu Material. Recordá que tu descripción será publicada junto con tu Material Educativo" required></textarea>
        <!-- <p id="sugerenciaComentario">Contanos de qué se trata tu Material. Recordá que tu descripción será publicada junto con tu Material Educativo</p> -->

        <label for="documento">Seleccioná un documento:</label>
        <input type="file" name="documento" id="documento" accept=".pdf, .doc, .docx">
        <button type="submit">Subir documento</button>
        <a href="inicioConcursante">Volver</a>
    </form>
    
</body>
</html>